body{
    margin: 0 0 auto 0;
    text-align: center;
    background-color: snow;
}

hr{
    margin: 0;
    border-color: grey;
}


h1{
    display: inline-block;
    font-family: 'Sacramento', cursive;
    width: 400px;
    margin: 0;
    font-size: 5.625rem;
}
h2{
    color:  #66BFBF;
}
h3{
    color: #11999E;
}
p{
    font-size: 1.2rem;
    /*font-family: 'Nerko One', cursive;*/
    
}

div{
    padding: 50px;
}

.mountains{
    height: 500px;
}

.top-container{
    padding: 0 0 0 0;
    text-align: center;
    background-color:#f3fafe;
}

.middle-container{
    position: relative;
    left: 25%;
    width: 50%;
    padding: 0;
}

.bottom-container{
    background-color: #f3fafe;
}

.sky{
    height: 100px;
    width: 100%;
}

.cloud1{
    position: absolute;
    left: 120px;
    top: 150px;
}

.cloud2{
    position: absolute;
    bottom: 200px;
    right: 120px;
}

.image{
    background-color: maroon;
    border-radius: 50%;
    height: 30%;
    width: 30%;
}

.icons{
    float: left;
    margin: 30px 30px 5px 10px;
}

.guitar{
    float: right;
    margin-left: 30px;
}

.heading{
    position: relative;
    font-family: 'Sacramento', cursive;
    width: 300px;
    left: 700px;
    font-size: x-large;
    font-weight: bold;
    margin: 10px 0;
}

.skill-row{
    text-align: left;
    padding-left: 0;
    padding-right: 0;
}

.leftclear{
    clear: left;
}

.rightclear{
    clear: right;
}
.footer-link{
    color: #11999E;
}
